.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-toggle {
    background-color: #fff;
    color: #000;
    font-weight: bold;
    padding: 10px 20px;
    border: 1px solid #ccc;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.arrow {
    margin-left: 10px;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    width: 100%;
    z-index: 1000;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.dropdown-menu li {
    padding: 10px 20px;
    cursor: pointer;
}

.dropdown-menu li:hover,
.dropdown-menu .selected {
    background-color: #f0f0f0;
}